
* {
    box-sizing: border-box;
}
body {
    background-color: #efefef;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color: pink;
}
main {  
    border-top: 1px solid pink;
}
footer {
    clear: both;
    border-top: 1px solid pink;
    padding-top: 1rem;
}
footer span {
    text-align: center;
    width: 100%;
    display: block;
    color: pink;
}
.left {
    float: left;
    width: 20%;
}
.left ul {
    list-style: none; /* Remove default bullets */
  }
  
.left ul li::before {
    content: "\2022";
    color: pink;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.right {
    float: left;
    width: 80%;
    padding: 1rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color:  #000;
}